@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap");

$bc: #000;
$gc: #181818;
$wc: #fff;
$rc: #fa255e;
$grc: #01e3a5;

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  background: $bc !important;
  font-family: "Montserrat", sans-serif;

  .preloader {
    height: 100vh;
  }
  .validate-errors {
    font-size: 14px;
    font-weight: 700;
    color: #fc4545;
  }

  .drop-area {
    height: 12vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    color: $rc;
    border: 2px dashed $rc;
  }

  .btn-close {
    filter: invert(1) grayscale(100%) brightness(200%);
  }

  li {
    list-style: none;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 2px;
  }

  input[type="range"]::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
    background: $rc;
  }
}

//bootstrap styles

.modal-content {
  background-color: $bc;
  border: 1px solid $rc;
  border-radius: 10px;
  .modal-header {
    border-bottom: none;
    padding: 0.5rem 1rem;
  }
  .modal-body {
    padding: 0;
  }
  .modal-footer {
    border-top: none;
    padding: 0.5rem 1rem;

    button {
      width: 120px;
    }
  }
}

th,
td {
  color: $wc;
  font-size: 14px;
  img {
    object-fit: contain;
    object-position: center;
    width: 30px;
    height: 30px;
  }
}

// buger-menu

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 25px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $rc;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: $rc;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: $wc;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: $gc;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: $gc;
}

/* Wrapper for item list */
.bm-item-list {
  color: #fff;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.nav-tabs .nav-link.active {
  background-color: $rc !important;
  color: $wc !important;
}

.nav-tabs .nav-link {
  color: $rc !important;
}

.nav-tabs {
  border-bottom: 1px solid $rc !important;
}

.nav-link:focus,
.nav-link:hover {
  color: $rc !important;
}

.nav-tabs .nav-link:hover {
  border-color: $rc !important;
}

.nav-tabs .nav-link.active {
  border-color: $rc !important;
}

.modal-content {
  border: 1px solid $rc !important;
  background: $bc !important;
  padding: 2rem;
}
