@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap");
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  background-color: #000;
  font-family: "Montserrat", sans-serif;
}

body .activeLink {
  color: #fa255e !important;
  border-bottom: 1px solid #fa255e !important;
}

body .preloader {
  height: 100vh;
}

body .validate-errors {
  font-size: 14px;
  font-weight: 700;
  color: #fc4545;
}

body .header__mobile svg {
  font-size: 32px;
  color: #fff;
  margin-top: 0.5rem;
}

body .header__mobile li {
  list-style: none;
  margin-top: 1rem;
}

body .header__mobile li a {
  color: #fa255e;
  font-weight: 500;
  padding-bottom: 0.5rem;
  text-decoration: none;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  border: 1px solid transparent;
}

body .header__menu li {
  list-style: none;
}

body .header__menu li a {
  color: #fa255e;
  font-weight: 500;
  margin-right: 1rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  border: 1px solid transparent;
}

body .header__menu li a:hover {
  border-bottom: 1px solid #fa255e;
}

body .chart .left-side,
body .chart .right-side {
  height: 65vh;
  overflow-y: scroll;
}

body .chart .left-side .head,
body .chart .right-side .head {
  position: -webkit-sticky;
  position: sticky;
  top: 32px;
  background: #000;
}

body .chart .left-side h1,
body .chart .right-side h1 {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #000;
  color: #fff;
  font-weight: 900;
}

body .chart .left-side::-webkit-scrollbar,
body .chart .right-side::-webkit-scrollbar {
  height: 1px;
  width: 1px;
  position: absolute;
  z-index: 999;
}

body .chart .left-side::-webkit-scrollbar-track,
body .chart .right-side::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body .chart .left-side::-webkit-scrollbar-thumb,
body .chart .right-side::-webkit-scrollbar-thumb {
  background-color: #fa255e;
  outline: 1px solid #fa255e;
}

body .chart .left-side .eq,
body .chart .right-side .eq {
  width: 20px;
  height: 20px;
}

body .chart .left-side .like-icon,
body .chart .right-side .like-icon {
  font-size: 20px;
  color: #fa255e;
  cursor: pointer;
}

body .chart .left-side .play-icon,
body .chart .right-side .play-icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

body .chart .left-side .animate-icon,
body .chart .right-side .animate-icon {
  -webkit-animation: wiggle 2s 1;
          animation: wiggle 2s 1;
}

@-webkit-keyframes wiggle {
  0%,
  7% {
    -webkit-transform: rotateZ(0) scale(1);
            transform: rotateZ(0) scale(1);
  }
  15% {
    -webkit-transform: rotateZ(-15deg) scale(1.25);
            transform: rotateZ(-15deg) scale(1.25);
  }
  20% {
    -webkit-transform: rotateZ(10deg) scale(1.5);
            transform: rotateZ(10deg) scale(1.5);
  }
  25% {
    -webkit-transform: rotateZ(-10deg) scale(1.75);
            transform: rotateZ(-10deg) scale(1.75);
  }
  30% {
    -webkit-transform: rotateZ(6deg) scale(1.5);
            transform: rotateZ(6deg) scale(1.5);
  }
  35% {
    -webkit-transform: rotateZ(-4deg) scale(1.25);
            transform: rotateZ(-4deg) scale(1.25);
  }
  40%,
  100% {
    -webkit-transform: rotateZ(0) scale(1);
            transform: rotateZ(0) scale(1);
  }
}

@keyframes wiggle {
  0%,
  7% {
    -webkit-transform: rotateZ(0) scale(1);
            transform: rotateZ(0) scale(1);
  }
  15% {
    -webkit-transform: rotateZ(-15deg) scale(1.25);
            transform: rotateZ(-15deg) scale(1.25);
  }
  20% {
    -webkit-transform: rotateZ(10deg) scale(1.5);
            transform: rotateZ(10deg) scale(1.5);
  }
  25% {
    -webkit-transform: rotateZ(-10deg) scale(1.75);
            transform: rotateZ(-10deg) scale(1.75);
  }
  30% {
    -webkit-transform: rotateZ(6deg) scale(1.5);
            transform: rotateZ(6deg) scale(1.5);
  }
  35% {
    -webkit-transform: rotateZ(-4deg) scale(1.25);
            transform: rotateZ(-4deg) scale(1.25);
  }
  40%,
  100% {
    -webkit-transform: rotateZ(0) scale(1);
            transform: rotateZ(0) scale(1);
  }
}

body .player {
  background-color: #181818;
  height: 12vh;
  z-index: 999;
}

body .player__track img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  height: 40px;
  width: 40px;
}

body .player__track p {
  margin-bottom: 0.2rem;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

body .player__track h6 {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

body .player__controlls .backward,
body .player__controlls .forward,
body .player__controlls .heart,
body .player__controlls .sync {
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

body .player__controlls .play {
  font-size: 48px;
  color: #fff;
  cursor: pointer;
}

body .player__volume .volume {
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

body .player__volume input {
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 100px;
}

body .player__volume input[type="range"]::-webkit-slider-runnable-track {
  height: 2px;
}

body .player__volume input[type="range"]::-webkit-slider-thumb {
  width: 10px;
  height: 10px;
  background: #fa255e;
}

body .player__trackbar input {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .player__trackbar input[type="range"]::-webkit-slider-runnable-track {
  height: 2px;
}

body .player__trackbar input[type="range"]::-webkit-slider-thumb {
  width: 10px;
  height: 10px;
  background: #fa255e;
}

body .player__trackbar span {
  font-size: 14px;
}

body .profile h1 {
  color: #fff;
  font-weight: 900;
}

body .profile .delete-icon {
  cursor: pointer;
  font-size: 20px;
  color: #fa255e;
}

body .profile__chat .card {
  height: 500px;
  border-radius: 15px !important;
  border: 1px solid #fa255e !important;
}

body .profile__chat .msg_card_body {
  overflow-y: auto;
}

body .profile__chat .msg_card_body::-webkit-scrollbar {
  height: 1px;
  width: 1px;
  position: absolute;
  z-index: 999;
}

body .profile__chat .msg_card_body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body .profile__chat .msg_card_body::-webkit-scrollbar-thumb {
  background-color: #fa255e;
  outline: 1px solid #fa255e;
}

body .profile__chat .card-header {
  border-radius: 15px 15px 0 0 !important;
  border-bottom: 0 !important;
}

body .profile__chat .card-footer {
  border-radius: 0 0 15px 15px !important;
  border-top: 0 !important;
}

body .profile__chat .card {
  height: 500px;
  width: 80%;
  border-radius: 15px !important;
  background-color: #000 !important;
}

body .profile__chat .msg_card_body {
  overflow-y: auto;
}

body .profile__chat .card-header {
  border-radius: 15px 15px 0 0 !important;
  border-bottom: 1px solid #fa255e !important;
}

body .profile__chat .card-footer {
  border-radius: 0 0 15px 15px !important;
  border-top: 0 !important;
}

body .profile__chat .container {
  -ms-flex-line-pack: center;
      align-content: center;
}

body .profile__chat .type_msg {
  background: #000 !important;
  border: 0 !important;
  color: white !important;
  height: 50px !important;
  -webkit-box-shadow: inset 0 0 0 50px #000;
  box-shadow: inset 0 0 0 50px #000;
  -webkit-appearance: none;
  -webkit-text-fill-color: #fff;
}

body .profile__chat .type_msg:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: 0px !important;
}

body .profile__chat button {
  background-color: #000 !important;
  border: 0 !important;
}

body .profile__chat .user_img_msg {
  height: 40px;
  width: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border: 1px solid #f5f6fa;
}

body .profile__chat .msg_cotainer {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  border-radius: 25px;
  background-color: #fa255e;
  color: #fff;
  font-weight: 500;
  padding: 10px;
  position: relative;
}

body .profile__chat .msg_cotainer_send {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  border-radius: 25px;
  background-color: #01e3a5;
  color: #000;
  font-weight: 500;
  padding: 10px;
  position: relative;
}

body .profile__chat .msg_head {
  position: relative;
}

body .profile__table-container {
  height: 35vh;
  overflow-y: scroll;
}

body .profile__table-container .head {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #000;
}

body .profile__table-container::-webkit-scrollbar {
  height: 1px;
  width: 1px;
  position: absolute;
  z-index: 999;
}

body .profile__table-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body .profile__table-container::-webkit-scrollbar-thumb {
  background-color: #fa255e;
  outline: 1px solid #fa255e;
}

body .profile__info .avatar-upload {
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body .profile__info .avatar-upload .avatar-edit {
  position: absolute;
  right: 0;
  z-index: 1;
  top: 0;
}

body .profile__info .avatar-upload .avatar-edit:hover label {
  opacity: 0.3;
}

body .profile__info .avatar-upload .avatar-edit svg {
  position: absolute;
  font-size: 100px;
  top: 25px;
  left: 25px;
  margin: 0 auto;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #fa255e;
}

body .profile__info .avatar-upload .avatar-edit:hover svg {
  opacity: 0.9;
}

body .profile__info .avatar-upload .avatar-edit input {
  display: none;
  opacity: 0;
}

body .profile__info .avatar-upload .avatar-edit input + label {
  opacity: 0;
  display: inline-block;
  width: 150px;
  height: 150px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #000;
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body .profile__info .avatar-upload img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 2px solid #fa255e;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body .profile__info h4 {
  color: #fff;
  font-weight: 500;
}

body .profile__info h2 {
  color: #fff;
  font-weight: 700;
}

body .profile__form form {
  padding: 2rem;
}

body .profile__form h2 {
  color: #fff;
  font-weight: 700;
}

body .profile__form .group {
  position: relative;
  width: 100%;
  /* LABEL ======================================= */
  /* active state */
  /* BOTTOM BARS ================================= */
  /* active state */
  /* HIGHLIGHTER ================================== */
  /* active state */
  /* ANIMATIONS ================ */
}

body .profile__form .group input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  background: none;
  border-bottom: 1px solid #fa255e;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

body .profile__form .group input:focus {
  border-bottom: 1px solid transparent;
  outline: none;
}

body .profile__form .group label {
  color: #fa255e;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

body .profile__form .group input:focus ~ label,
body .profile__form .group input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #01e3a5;
}

body .profile__form .group .bar {
  position: relative;
  display: block;
  width: 100%;
}

body .profile__form .group .bar:before,
body .profile__form .group .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #01e3a5;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

body .profile__form .group .bar:before {
  left: 50%;
}

body .profile__form .group .bar:after {
  right: 50%;
}

body .profile__form .group input:focus ~ .bar:before,
body .profile__form .group input:focus ~ .bar:after {
  width: 50%;
}

body .profile__form .group .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

body .profile__form .group input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
  from {
    background: #01e3a5;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #01e3a5;
  }
  to {
    width: 0;
    background: transparent;
  }
}

body .profile__form .btn-tertiary {
  color: #fa255e;
  font-size: 18px;
  padding: 0;
  line-height: 40px;
  margin: auto;
  display: block;
  border: 2px solid #fa255e;
}

body .profile__form .input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

body .profile__form .input-file + .js-labelFile {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 10px;
  cursor: pointer;
}

body .profile__form .input-file + .js-labelFile svg {
  font-size: 20px;
  color: #fa255e;
}

body .profile__form .has-file {
  color: #01e3a5;
  border: 2px solid #01e3a5;
}

body .profile__form .has-file svg {
  -webkit-filter: invert(63%) sepia(84%) saturate(1522%) hue-rotate(115deg) brightness(97%) contrast(106%);
          filter: invert(63%) sepia(84%) saturate(1522%) hue-rotate(115deg) brightness(97%) contrast(106%);
}

body .profile__form .form-btn {
  border: 1px solid #fa255e;
  color: #fa255e;
  font-size: 18px;
  font-weight: 400;
  padding: 10px 20px;
}

body .profile__form .form-btn:hover {
  background-color: #fa255e;
  color: #fff;
}

body .auth__form {
  /* LABEL ======================================= */
  /* active state */
  /* BOTTOM BARS ================================= */
  /* active state */
  /* HIGHLIGHTER ================================== */
  /* active state */
  /* ANIMATIONS ================ */
}

body .auth__form h2 {
  color: #fa255e;
  font-weight: 700;
}

body .auth__form .group {
  position: relative;
  width: 100%;
}

body .auth__form input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  background: none;
  border-bottom: 1px solid #fa255e;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

body .auth__form input:focus {
  border-bottom: 1px solid transparent;
  outline: none;
}

body .auth__form label {
  color: #fa255e;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

body .auth__form input:focus ~ label,
body .auth__form input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #fa255e;
}

body .auth__form .bar {
  position: relative;
  display: block;
  width: 100%;
}

body .auth__form .bar:before,
body .auth__form .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #fa255e;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

body .auth__form .bar:before {
  left: 50%;
}

body .auth__form .bar:after {
  right: 50%;
}

body .auth__form input:focus ~ .bar:before,
body .auth__form input:focus ~ .bar:after {
  width: 50%;
}

body .auth__form .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

body .auth__form input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
  from {
    background: #fa255e;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #fa255e;
  }
  to {
    width: 0;
    background: transparent;
  }
}

body .auth__form .drop-area {
  height: 12vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-weight: 700;
  color: #fa255e;
  border: 2px dashed #fa255e;
}

body .auth__form .form-btn {
  border: 1px solid #fa255e;
  color: #fa255e;
  font-size: 18px;
  font-weight: 400;
  padding: 10px 20px;
}

body .auth__form .form-btn:hover {
  background-color: #fa255e;
  color: #fff;
}

body .auth__poster {
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

body .auth__poster .circle {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  background-repeat: no-repeat;
  position: relative;
}

body .auth__poster .cassette {
  width: 300px;
  height: 190px;
  font-size: 0.55em;
  background: #181818;
  border-radius: 10px;
  border: 4px solid #fa255e;
  position: absolute;
}

body .auth__poster .cassette:after {
  display: block;
  content: "";
  width: 104%;
  height: 30%;
  margin-left: -2%;
  background: #181818;
  border-radius: 10px;
  bottom: 7%;
  position: absolute;
  z-index: -1;
  border: 4px solid #fa255e;
}

body .auth__poster .cassette:before {
  display: block;
  content: "";
  width: 89%;
  height: 4px;
  margin: auto;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  top: 3%;
  position: relative;
}

body .auth__poster .cassette .label {
  width: 90%;
  height: 64%;
  position: relative;
  margin: auto;
  top: 7%;
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 0 4px #fa255e;
          box-shadow: inset 0 0 0 4px #fa255e;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(8%, #fa255e), color-stop(8%, #fff), color-stop(30%, #fff), color-stop(30%, #181818), color-stop(31.5%, #181818), color-stop(31.5%, #fff), color-stop(36%, #fff), color-stop(36%, #181818), color-stop(37.5%, #181818), color-stop(37.5%, #fff), color-stop(39%, #fff), color-stop(39%, #181818), color-stop(40.5%, #181818), color-stop(40.5%, #fff), color-stop(42%, #fff), color-stop(42%, #181818), color-stop(43.5%, #181818), color-stop(43.5%, #fff), color-stop(45%, #fff), color-stop(45%, #181818), color-stop(46.5%, #181818), color-stop(46.5%, #fff), color-stop(48%, #fff), color-stop(48%, #181818), color-stop(49.5%, #181818), color-stop(49.5%, #fff), color-stop(51%, #fff), color-stop(51%, #181818), color-stop(52.5%, #181818), color-stop(52.5%, #fff), color-stop(54%, #fff), color-stop(54%, #181818), color-stop(55.5%, #181818), color-stop(55.5%, #fff), color-stop(57%, #fff), color-stop(57%, #181818), color-stop(58.5%, #181818), color-stop(58.5%, #fff), color-stop(60%, #fff), color-stop(60%, #181818), color-stop(61.5%, #181818), color-stop(61.5%, #fff), color-stop(63%, #fff), color-stop(63%, #181818), color-stop(64.5%, #181818), color-stop(64.5%, #fff), color-stop(66%, #fff), color-stop(66%, #181818), color-stop(67.5%, #181818), color-stop(67.5%, #fff), color-stop(69%, #fff), color-stop(69%, #181818), color-stop(70.5%, #181818), color-stop(70.5%, #fff), color-stop(72%, #fff), color-stop(72%, #181818), color-stop(73.5%, #181818), color-stop(73.5%, #fff), color-stop(75%, #fff), color-stop(75%, #181818), color-stop(76.5%, #181818), color-stop(76.5%, #fff), color-stop(78%, #fff), color-stop(78%, #181818), color-stop(79.5%, #181818), color-stop(79.5%, #fff), color-stop(81%, #fff), color-stop(81%, #181818), color-stop(82.5%, #181818));
  background: linear-gradient(#fa255e 8%, #fff 8%, #fff 30%, #181818 30%, #181818 31.5%, #fff 31.5%, #fff 36%, #181818 36%, #181818 37.5%, #fff 37.5%, #fff 39%, #181818 39%, #181818 40.5%, #fff 40.5%, #fff 42%, #181818 42%, #181818 43.5%, #fff 43.5%, #fff 45%, #181818 45%, #181818 46.5%, #fff 46.5%, #fff 48%, #181818 48%, #181818 49.5%, #fff 49.5%, #fff 51%, #181818 51%, #181818 52.5%, #fff 52.5%, #fff 54%, #181818 54%, #181818 55.5%, #fff 55.5%, #fff 57%, #181818 57%, #181818 58.5%, #fff 58.5%, #fff 60%, #181818 60%, #181818 61.5%, #fff 61.5%, #fff 63%, #181818 63%, #181818 64.5%, #fff 64.5%, #fff 66%, #181818 66%, #181818 67.5%, #fff 67.5%, #fff 69%, #181818 69%, #181818 70.5%, #fff 70.5%, #fff 72%, #181818 72%, #181818 73.5%, #fff 73.5%, #fff 75%, #181818 75%, #181818 76.5%, #fff 76.5%, #fff 78%, #181818 78%, #181818 79.5%, #fff 79.5%, #fff 81%, #181818 81%, #181818 82.5%);
}

body .auth__poster .cassette .label:before {
  position: absolute;
  display: block;
  top: 12%;
  left: 3%;
  content: url("../components/Auth/logoCassette.svg");
  padding: 3px;
}

body .auth__poster .cassette .label:after {
  position: absolute;
  display: block;
  content: "Делись своей музыкой в Tataria!";
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
  top: 22%;
  right: 3%;
  color: #181818;
}

body .auth__poster .cassette .label .cutout {
  width: 70%;
  height: 46%;
  position: relative;
  margin: auto;
  top: 36%;
  background: #181818;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 0 4px #fa255e;
          box-shadow: inset 0 0 0 4px #fa255e;
}

body .auth__poster .cassette .label .cutout:before {
  position: absolute;
  display: block;
  content: "Зарегистрируйся и начинай удивлять!";
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.85em;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  bottom: -25%;
}

body .auth__poster .cassette .label .cutout:after {
  position: absolute;
  display: block;
  content: "116";
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.5em;
  font-weight: bold;
  top: 100%;
  right: 0;
  background: #fa255e;
  height: 36%;
  padding: 1.2% 5%;
  -webkit-box-shadow: inset 0 0 0 8px #fa255e;
          box-shadow: inset 0 0 0 8px #fa255e;
  font-family: "Roboto", sans-serif;
}

body .auth__poster .cassette .label .cutout .reel_hole {
  position: absolute;
  background: #fff;
  width: 20%;
  top: 15%;
  border: 3px solid #fa255e;
  -webkit-box-shadow: 0 0 0 3px #181818, 0 0 0 5px #fa255e;
          box-shadow: 0 0 0 3px #181818, 0 0 0 5px #fa255e;
  border-radius: 50%;
  right: 5.5%;
}

body .auth__poster .cassette .label .cutout .reel_hole:after {
  content: "";
  display: block;
  padding-bottom: 100%;
  -webkit-box-shadow: inset 0 0 0 6px #fff;
          box-shadow: inset 0 0 0 6px #fff;
  background: #fa255e;
  border-radius: 50%;
}

body .auth__poster .cassette .label .cutout .reel_hole:before {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: #181818;
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  z-index: 10;
}

body .auth__poster .cassette .label .cutout .reel_hole:first-of-type {
  left: 5.5%;
}

body .auth__poster .cassette .label .cutout .reel_hole .gear {
  position: absolute;
  width: 14%;
  height: 86%;
  background: #181818;
  top: 50%;
  left: 50%;
  margin-left: -7%;
  margin-top: -43%;
  -webkit-box-shadow: 0 0 0 2px #fa255e;
          box-shadow: 0 0 0 2px #fa255e;
  -webkit-animation: gears 10s linear infinite alternate;
          animation: gears 10s linear infinite alternate;
}

body .auth__poster .cassette .label .cutout .reel_hole .gear:before, body .auth__poster .cassette .label .cutout .reel_hole .gear:after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #181818;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 0 0 2px #fa255e;
          box-shadow: 0 0 0 2px #fa255e;
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
}

body .auth__poster .cassette .label .cutout .reel_hole .gear:after {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
  width: 220%;
  top: 2%;
  left: -75%;
  background: none;
  -webkit-box-shadow: -2px -2px 0 0 #fa255e;
          box-shadow: -2px -2px 0 0 #fa255e;
  background-image: linear-gradient(90deg, #181818 calc(50% - 1px), #fa255e calc(50% - 1px), #fa255e calc(50% + 1px), #fa255e calc(50% + 2px)), linear-gradient(#181818 calc(100% - 2px), #fa255e calc(100% - 2px));
  background-size: 100% 50%, 50% 100%;
  background-repeat: no-repeat;
}

@-webkit-keyframes gears {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(2160deg);
            transform: rotate(2160deg);
  }
}

@keyframes gears {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(2160deg);
            transform: rotate(2160deg);
  }
}

body .auth__poster .cassette .label .cutout .window {
  position: absolute;
  background: #181818;
  width: 40%;
  height: 68%;
  top: 15%;
  left: 30%;
  border: 3px solid #fa255e;
  overflow: hidden;
}

body .auth__poster .cassette .label .cutout .window:after {
  display: block;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(13%, transparent), color-stop(13%, rgba(255, 255, 255, 0.4)), color-stop(24%, rgba(255, 255, 255, 0.4)), color-stop(24%, transparent), color-stop(34%, transparent), color-stop(34%, rgba(255, 255, 255, 0.4)), color-stop(50%, rgba(255, 255, 255, 0.4)), color-stop(50%, transparent));
  background: linear-gradient(transparent 13%, rgba(255, 255, 255, 0.4) 13%, rgba(255, 255, 255, 0.4) 24%, transparent 24%, transparent 34%, rgba(255, 255, 255, 0.4) 34%, rgba(255, 255, 255, 0.4) 50%, transparent 50%);
  content: "";
  width: 100%;
  height: 100%;
}

body .auth__poster .cassette .label .cutout .window .spool {
  position: absolute;
  top: -22%;
  width: 70%;
  background: #fff;
  border: 3px solid #fa255e;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 10px #323232, 0 0 0 13px #fa255e;
          box-shadow: 0 0 0 10px #323232, 0 0 0 13px #fa255e;
}

body .auth__poster .cassette .label .cutout .window .spool:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

body .auth__poster .cassette .label .cutout .window .spool:first-of-type {
  left: -64%;
  -webkit-animation: spooling 10s linear infinite alternate;
          animation: spooling 10s linear infinite alternate;
}

body .auth__poster .cassette .label .cutout .window .spool:last-of-type {
  right: -64%;
  animation: spooling 10s linear infinite alternate-reverse;
}

@-webkit-keyframes spooling {
  from {
    -webkit-box-shadow: 0 0 0 0.5em #323232, 0 0 0 calc(0.5em + 3px) #fa255e;
            box-shadow: 0 0 0 0.5em #323232, 0 0 0 calc(0.5em + 3px) #fa255e;
  }
  to {
    -webkit-box-shadow: 0 0 0 5em #323232, 0 0 0 calc(5em + 3px) #fa255e;
            box-shadow: 0 0 0 5em #323232, 0 0 0 calc(5em + 3px) #fa255e;
  }
}

@keyframes spooling {
  from {
    -webkit-box-shadow: 0 0 0 0.5em #323232, 0 0 0 calc(0.5em + 3px) #fa255e;
            box-shadow: 0 0 0 0.5em #323232, 0 0 0 calc(0.5em + 3px) #fa255e;
  }
  to {
    -webkit-box-shadow: 0 0 0 5em #323232, 0 0 0 calc(5em + 3px) #fa255e;
            box-shadow: 0 0 0 5em #323232, 0 0 0 calc(5em + 3px) #fa255e;
  }
}

body .auth__poster .cassette .head {
  width: 60%;
  height: 25.5%;
  position: absolute;
  margin-left: 20%;
  bottom: -4%;
}

body .auth__poster .cassette .head:before, body .auth__poster .cassette .head:after {
  display: block;
  content: "";
  width: 70%;
  height: 100%;
  position: absolute;
  background: #181818;
  border: 4px solid #fa255e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1)));
  background-image: linear-gradient(rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
  background-repeat: no-repeat;
  background-position: 15% 8%;
  background-size: 100% 4px;
}

body .auth__poster .cassette .head:before {
  -webkit-transform: skew(-15deg);
          transform: skew(-15deg);
  left: -8%;
  border-right: none;
  border-radius: 10px 0 0 10px;
  -webkit-box-shadow: inset 6px 0 0 0 #181818;
          box-shadow: inset 6px 0 0 0 #181818;
}

body .auth__poster .cassette .head:after {
  -webkit-transform: skew(15deg);
          transform: skew(15deg);
  right: -8%;
  border-left: none;
  border-radius: 0 10px 10px 0;
  -webkit-box-shadow: inset -6px 0 0 0 #181818;
          box-shadow: inset -6px 0 0 0 #181818;
}

body .auth__poster .cassette .screw {
  position: absolute;
  text-align: right;
  top: 7%;
  left: 4%;
}

body .auth__poster .cassette .screw:before {
  content: "\20e0\fe0e";
  font-size: 1.1em;
  color: #fa255e;
  font-weight: bold;
  position: absolute;
  right: 0;
  bottom: 0;
}

body .auth__poster .cassette .screw.i2 {
  right: 1%;
}

body .auth__poster .cassette .screw.i2:before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

body .auth__poster .cassette .screw.i3 {
  bottom: 1%;
}

body .auth__poster .cassette .screw.i3:before {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

body .auth__poster .cassette .screw.i4 {
  right: 1%;
  bottom: 1%;
}

body .auth__poster .cassette .screw.i4:before {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

body .auth__poster .cassette .screw.i5 {
  left: calc(50% + 0.5em);
  bottom: 9%;
}

body .auth__poster .cassette .screw.i5:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body .auth__poster .cassette .hole {
  width: 5%;
  background: #181818;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #fa255e;
  bottom: 0;
  left: 50%;
  margin-left: -2.5%;
}

body .auth__poster .cassette .hole:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

body .auth__poster .cassette .hole.i1 {
  bottom: 0%;
  left: 28%;
}

body .auth__poster .cassette .hole.i2 {
  bottom: 2%;
  left: 38%;
}

body .auth__poster .cassette .hole.i3 {
  bottom: 0%;
  left: 72%;
}

body .auth__poster .cassette .hole.i4 {
  bottom: 2%;
  left: 62%;
}

.modal-content {
  background-color: #000;
  border: 1px solid #fa255e;
  border-radius: 10px;
}

.modal-content .modal-header {
  border-bottom: none;
  padding: 0.5rem 1rem;
}

.modal-content .modal-body {
  padding: 0;
}

.modal-content .modal-footer {
  border-top: none;
  padding: 0.5rem 1rem;
}

.modal-content .modal-footer button {
  width: 120px;
}

th,
td {
  color: #fff;
  font-size: 14px;
}

th img,
td img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  width: 30px;
  height: 30px;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 25px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #fa255e;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #fa255e;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #fff;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #181818;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #181818;
}

/* Wrapper for item list */
.bm-item-list {
  color: #fff;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.nav-tabs .nav-link.active {
  background-color: #fa255e;
  color: #fff;
}

.nav-tabs .nav-link {
  color: #fa255e;
}

.nav-tabs {
  border-bottom: 1px solid #fa255e;
}

.nav-tabs .nav-link:hover {
  border-color: #fa255e;
}

.nav-tabs .nav-link.active {
  border-color: #fa255e;
}

input {
  -webkit-box-shadow: inset 0 0 0 50px #000;
  box-shadow: inset 0 0 0 50px #000;
  -webkit-appearance: none;
  -webkit-text-fill-color: #fff;
}

.offcanvas {
  background-color: #000;
  width: 60%;
}
/*# sourceMappingURL=style.css.map */